.avatarBgContainer{
    position: relative;
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    font-family: Poppins;
    z-index: 9;
}

.avatarBgOverlay{
    background-color: rgba(0, 0 ,0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    z-index: 10;
}

.avatarBgContainer::-webkit-scrollbar{
    display: none;
}


.avatarBgBox{
    background-color: #1E1F2D;
    max-width: 1064px;
    width: 600px;
    padding: 20px;
    border-radius: 4px;
    margin: 30px auto;
    position: relative;
    z-index: 999;
}

/* select avatar */
.avatarContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.avatarBox{
    border: 2px solid rgb(243, 154, 29);
    border-radius: 4px;
    flex-grow: 1;
}

.avatarOptions{
    display: flex;
}

.avatarOptionbutton{
    flex: 1;
    text-transform: uppercase;
    font-family: Poppins;
    border: none;
    font-size: 14px;
    font-weight: 600;
    padding: 15px;
    color:  #8A9099;
    background-color: #3F434A;
}

.avatarOptionActive{
    flex: 1;
    text-transform: uppercase;
    font-family: Poppins;
    border: none;
    font-size: 14px;
    font-weight: 600;
    padding: 15px;
    color:  #fff;
    background-color: #7521E2;
}

.avatarChoose{
    padding: 20px;
    min-height: 450px;
    height: 100%;
}

.defaultAvatarContainer{
    min-height: 450px;
    height: 100%;
    flex-grow: 1;
}

.defaultAvatarOptions{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.defaultAvatarBtn{
    text-transform: uppercase;
    font-family: Poppins;
    border: none;
    font-size: 12px;
    font-weight: 600;
    padding: 8px 22px;
    border-radius: 100px;
    color: #8A9099;
    background-color: #3F434A;
}

.defaultAvatarBtnActive{
    background-color: #474CD4;
    color: #fff;
    text-transform: uppercase;
    font-family: Poppins;
    border: none;
    font-size: 12px;
    font-weight: 600;
    padding: 8px 22px;
    border-radius: 100px;
}

.defaultAvatarImgBox{
    display: flex;
    align-items: center;
    color: #fff;
    padding-top: 20px;
    gap: 5px;

}

.customAvatarImgBox{
    background-color: #3F434A;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: max-content;
    border-radius: 4px;
    height: 100%;
    min-height: 450px;
}

.customAvatarImgBox > div{
    height: 100%;
}

.customAvatarSearch{
    width: 150px;
    text-align: center;
}

.customAvatarSearch > h4{
    font-family: Poppins;
    font-size: 12px;
    margin: 0;
    color: #fff;
}

.defaultAvatarMainImg{
    flex: 1;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 999;
}


.setCardImage{
    background-color: #fff;
    position: absolute;
    top: 35%;
    height: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    z-index: -1;
}

.setCardImage > img{
    height: 100%;
    width: 100%;
    object-fit: contain;  
}

.defaultAvatarMainImg > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.defaultAvatarImgOptions{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    gap: 5px;
}

.defaultAvatarImgOptions > div > img{
    cursor: pointer;
}

.defaultAvatarImgOptions > div > img:hover{
    border: 5px solid rgb(22, 183, 198);
    transition: all 0.2s ease-out;
}

/* username */

.usernameContainer{
    border: 2px solid rgb(243, 154, 29);
    padding: 20px;
    border-radius: 4px;
}
.usernameHeader{
    
}

.usernameHeader > h1{
    font-family: Poppins;
    color: #fff;
    font-size: 22px;
}

/* username input styles */
.input{
    font-family: Poppins;
}



.inputFieldWrapper{
    background-color: #fff;
    border-radius: 4px;
    padding: 5px 20px;
}

.inputField{
    display: flex;
    align-items: center;
    outline: none;
    color: #3f434a;
    font-weight: 600;
    font-family: Poppins;
    gap: 5px;
    padding: 5px 0;
    position: relative;
}

.inputFieldValid{
    position: absolute;
    right: 4px;
}

.inputField > input{
    flex-grow: 1;
    border: none;
    outline: none;
}

.inputDrop{
    border-top: 1px solid rgba(174, 172, 172, 0.4);
    color: #000;
    padding-top: 5px;
}


.inputFieldSuccess{
    color: rgb(7, 172, 7);
    font-family: Poppins;
    padding-top: 5px;
    font-size: 14px;
}

.inputFieldFailure{
    color: rgb(222, 62, 62);
    font-family: Poppins;
    padding-top: 5px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.inputFieldSuccessBtn{
    color: #fff;
    background-color: rgb(7, 172, 7);
    padding: 5px 10px;
    border: none;
    border-radius: 100px;
    font-size: 14px;
    font-family: Poppins;
}

.inputFieldSuggestions{
    font-size: 14px;
    font-weight: 500;
    font-family: Poppins;
    color: rgb(157, 155, 155);
    display: flex;
}

/* select card */
.selectCardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.selectCardHeader > h1{
    font-family: Poppins;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

.selectCardHeader > p{
    font-family: Poppins;
    margin: 0;
    color: #FFD240;
    font-size: 14px;
    text-align: center;
}

.selectCardImages{
    /* height: 400px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;

}

.selectCardImages > div{
    flex: 1;
}

.selectCardImages > div > img{
    height: 100%;
    width: 100%;
}

.selectCardImgOne, .selectCardImgTwo, .selectCardImgThree{
    position: relative;
    z-index: 999;
    cursor: pointer;
    opacity: 0.5;
}

.selectCardImgOne:hover, .selectCardImgTwo:hover, .selectCardImgThree:hover{
    opacity: 1;
}

.selectCardActive{
    opacity: 1;
}

.selectCardImgOne > div{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 40%;
    background-color: red;
    z-index: -1;
}

.selectCardImgOne > div > img{
    height: 100%;
    width: 100%;
}

.selectCardImgOne > h4{
    position: absolute;
    z-index: 999;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #2B1802;
    bottom: 26%;
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.selectCardImgOne > input{
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    outline: none;
    width: 50%;
    font-family: Poppins;
    color: #fff;
    font-weight: 500;
    text-align: center;
}


.selectCardImgOne > input::placeholder{
    color: #fff;
    font-family: Poppins;
    font-weight: 500;
}


.selectCardImgTwo > div{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 50%;
    z-index: -1;
}

.selectCardImgTwo > div > img{
    height: 100%;
    width: 100%;

}

.selectCardImgTwo > h4{
    position: absolute;
    z-index: 999;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    top: 10%;
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: center;
    text-align: center;
}

.selectCardImgTwo > input{
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    outline: none;
    width: 50%;
    font-family: Poppins;
    color: #fff;
    font-weight: 500;
    text-align: center;
}


.selectCardImgTwo > input::placeholder{
    color: #fff;
    font-family: Poppins;
    font-weight: bold;
    font-weight: 500;
}

.selectCardImgThree > div{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 50%;
    z-index: -1;
}

.selectCardImgThree > h4{
    position: absolute;
    z-index: 999;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    bottom: 22%;
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.selectCardImgThree > input{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    outline: none;
    width: 50%;
    font-family: Poppins;
    color: #fff;
    font-weight: 500;
    text-align: center;
}


.selectCardImgThree > input::placeholder{
    color: #fff;
    font-family: Poppins;
    font-weight: 500;
}

.selectCardImgThree > div > img{
    height: 100%;
    width: 100%;
}

.selectCardInstructions{
    width: 100%;
}

.selectCardInstructions > h3{
    font-size: 16px;
    font-weight: 600;
    color: #AEE553;
}

.selectCardInstruction{
    display: flex;
    gap: 5px;
    color: #FFF;
}

.selectCardInstruction > p{
    font-family: Poppins;
    margin: 0;
    font-size: 12px;
}

/* select background */
.selectBgContainer{
    
}

.selectBgContainer > h4{
    font-family: Poppins;
    color: #fff;
    font-size: 22px;
    padding-bottom: 5px;
}

.selectBgBox{
    border: 2px solid rgb(243, 154, 29);
    border-radius: 4px;
    padding: 20px;
}

.selectBgImages{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-top: 15px;
}


.selectBgImage{
    opacity: 0.5;
    cursor: pointer;
}

.selectBgImage:hover{
    opacity: 1;
}

.selectBgActive{
    opacity: 1;
}


.nextButtonContainer{
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
}

.nextButton{
    background-color: #7521E2;
    color: #fff;
    border: none;
    border-radius: 100px;
    font-size: 14px;
    padding: 5px 25px;
    font-family: Poppins;
    font-weight: 600;
    text-transform: uppercase;
}

.nextButton:active{
    transform: scale(0.9);
    transition: all 0.5s ease-out;
}

.nextButton:disabled{
    background-color: gray;
}


@media only screen and (max-width: 768px){

    .avatarBgContainer{
        min-height: 100vh;
    }
    
    .avatarBgOverlay{
        min-height: 100vh;
    }
    .avatarBgBox{
        width: 100%;
        margin: 0 auto;
        padding: 10px;
    }

    .usernameContainer, .avatarChoose{
        padding: 15px 10px;
    }

    .defaultAvatarImgBox{
        flex-direction: column;
    }



 

    .defaultAvatarBtn, .defaultAvatarBtnActive{
        width: 100%;
    }

    .selectBgImages{
        grid-template-columns: repeat(2, 1fr);
    }
}