<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Enoch</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap" rel="stylesheet">
		
    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="margin:0; padding:0;">
    	
        	<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="templateContainer" style="border-collapse:collapse !important;">
				<tbody>
					<tr>
						<td align="center" valign="top">
							
							<table border="0" cellpadding="0" cellspacing="0" width="100%" class="templatebody" style="border-collapse:collapse !important;width:100%;box-shadow: 0px 4px 4px rgb(67 1 152 / 10%);min-height: 100vh;">
								<tbody>
									<tr>
										<td style="padding:64px;">
											<table border="0" cellpadding="0" cellspacing="0" width="100%" class="innertemplatebody" style="border-collapse:collapse !important;">
												<tr>
													<td valign="top" class="headerContent">
														<table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateheader" style="border-collapse:collapse !important;">
															<tbody>
																<tr>
																	<td>
																		<img src="images/logo-big.png" id="headerImage" mc:label="header_image" mc:edit="header_image" mc:allowdesigner="" mc:allowtext=""/>
																		
																	</td>
																</tr>
																<tr>
																	<td style="padding-top:36px;text-align:center;">
																		<img src="images/email-verified.png" id="headerImage" mc:label="header_image" mc:edit="header_image" mc:allowdesigner="" mc:allowtext=""/>
																	</td>
																</tr>
															</tbody>
														</table>	
													</td>
												</tr>
												<tr>
													<td style="">
														<h2 style="font-family: 'Poppins';font-style: normal;font-weight: 700;font-size: 48px;line-height: 140%;text-align: center;margin: 0;padding-top: 26px;">Hello, Dan</h2>
														<p style="font-family:'Poppins';font-style: normal;font-weight: 700;font-size: 36px;line-height: 140%;text-align: center;margin: 0;padding-top: 26px;color:#087BE0;">As you request, your Enoch phone number have been updated!</br > </p>
														<p class="email-temp-txt" style="font-family: Poppins;font-style: normal;font-weight: 600;font-size: 16px;line-height: 170.23%;color: #4D5B61;margin-top:0px;padding-top:12px;margin-bottom:0px;padding-bottom:24px;text-align:center;">
															Go to your account and feel free to contact us if you have any questions.<br/> It's great to have you on board!
														</p>
														<p style="margin:0;text-align:center;"><button style="width: 280px;height: 56px;color: #fff;border: none;background: #FF8A00;border-bottom: 3px solid;border-bottom-color: rgba(0,0,0,.2);border-top: 3px solid transparent;box-sizing: border-box;border-radius: 2px;margin-left: 0;cursor: pointer;font-style: normal;font-weight: bold;font-size: 16px;line-height: 23px;">Sign in Now</button></p>
													</td>
													
												</tr>
									
											</table>
										</td>
									</tr>
									
								</tbody>
							</table>
							
						</td>
                	</tr>
					
            </tbody>
		</table>
    
</body>
</html>