<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Enoch</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
        integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap" rel="stylesheet">

</head>

<body style="margin:0; padding:0;">

    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" style="border: 1px solid #f1f1f1">
        <tbody>
            <tr>
                <td colspan="3" height="50"></td>
            </tr>
            <tr>
                <td width="50"></td>
                <td valign="top">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td align="left">
                                <img src={{logoImage}} id="headerImage" mc:label="header_image" mc:edit="header_image"
                                    mc:allowdesigner="" />
                        </tr>
                        <tr>
                            <td height="200" valign="bottom" align="center" style="height: 200px">
                                <img src={{verifyImage}} id="headerImage" mc:label="header_image" mc:edit="header_image"
                                    mc:allowdesigner="" mc:allowtext="" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2
                                    style="font-family:sans-serif;font-style: normal;font-weight: 700;font-size: 16px;line-height: 140%;text-align: center;margin: 0;padding-top: 26px;">
                                    Here is your passkey : <span
                                        style="color: #FF891D; font-size: 16px;">{{passkey}}</span> </h2>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="email-temp-txt"
                                    style="font-family: sans-serif;font-style: normal;font-weight: 600;font-size: 16px;line-height: 170.23%;color: #4D5B61;margin-top:0px;padding-top:12px;margin-bottom:0px;padding-bottom:24px;text-align:center;">
                                    You have been invited to sign up to Enoch App , please
                                    click on the button below.
                                </p>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="margin:0;text-align:center;"><button
                                        style="width: 280px;height: 56px;color: #fff;
                            border: none;background: #FF8A00;border-bottom: 3px solid;
                            border-bottom-color: rgba(0,0,0,.2);
                            border-top: 3px solid transparent;
                            font-family: sans-serif;
                            box-sizing: border-box;border-radius: 2px
                            ;margin-left: 0;cursor: pointer;font-style: normal;font-weight: bold;font-size: 16px;line-height: 23px;">
                                        <a href={{enochAppLink}} style="text-decoration: none;color:#FFFFFF;">Click
                                            Here</a></button>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="middle" height="100">
                                <p
                                    style="font-family: sans-serif;font-style: normal;font-weight: 600;font-size: 16px;color: #4F4F4F;margin-top:0px;padding-top:12px;margin-bottom:0px;text-align:center;">
                                    For additional help, visit our
                                    <a href="#" style="color: #6b01fb; text-decoration: none">Help Center</a>
                                </p>
                                <p style="color: #FF891D; font-family: sans-serif;font-style: normal;font-weight: 600;">
                                    Happy Day!</p>
                            </td>
                        </tr>

                    </table>

                </td>
                <td width="50"></td>
            </tr>
            <tr>
                <td width="100%" colspan="3" align="center" valign="center" height="60"
                    style="background: #5C5F61; color: #FFFFFF; font-family:sans-serif;font-style: normal; font-size: 14px; height: 60px">
                    Copyrights @ 2018 EZD. All Rights Reserved.We appreciate you!
                </td>
            </tr>
        </tbody>
    </table>


</body>

</html>